.btn.btn-primary,
button {
  box-shadow: 0 2px #ad2a11;
}

.news-letter input {
  border: 1px solid #EC5538;
}

.play-list .active {
  border-color: #EC5538;
}

.btn.btn-primary,
button,
.news-letter .btn-primary,
#main-contact-form .btn-primary, 
.buy-ticket,
.upcoming .big-date p,
.latest-post .date,
.pager li a:hover, 
.pager li a:focus,
.single-date,
.comment-box .btn-default,
.comment-box .form-control:focus, 
#contact-page .form-control:focus,
#latest-event-content .pagination li a:hover,
.regular-price .btn-pricing,
.flexslider.item_dateWrapper ul li.flex-active-slide,
#tab-wrap.upcoming_event .big-date,
#latest-event-content .pagination li a.active,
.pager li a.active{
  background-color: #EC5538;
}

.event-content-inner .event-date-time .event-date i,
.event-content-inner .event-date-time .event-time i {
	background: #EC5538;
}

a,

#navigation .open a, 
#home a,
.summer-fastival h2,
.twitter-updates a,
.single-event .view-info span,
#carousel.item_dateWrapper li a.flex-prev,
#carousel.item_dateWrapper li a.flex-next,
.play-list .fa-music,
.entry-header .entry-title,
.entry-header .author span,
.widget .tagcloud .btn-default,
.error-info h2 span,
.event-content-inner .event-title,
.price{
	color: #ec5538;
}


a:focus, 
a:hover,
#navigation .open a:hover, 
#navigation .open a:focus, 
#navigation .navbar-nav li a.active, 
#navigation .navbar-nav li a:focus, 
#navigation .navbar-nav li a:active, 
#navigation .navbar-nav li a:hover,
.quick-links ul li a:hover,
.quick-links .fa-facebook:hover,
.quick-links .fa-twitter:hover,
.quick-links .fa-google-plus:hover,
.quick-links .fa-youtube:hover,
.small-date ul li a:hover, 
.small-date ul li a:focus, 
.small-date ul li a:active,
#carousel.item_dateWrapper li.active a,
.left-perfomer-control:active, 
.right-perfomer-control:active, 
.right-perfomer-control:focus, 
.left-perfomer-control:focus, 
.left-perfomer-control:hover, 
.right-perfomer-control:hover,
.widget ul li a:active, 
.widget ul li a:focus, 
.widget ul li a:hover,
.share-post .social-link a:hover,
.social-networks ul li a:hover,
.popular-albums .media a:hover,
.back-to ul li a:hover,
.latest-post a:hover h4,
.latest-post .post-meta a:hover,
.single-event .view-info span:hover,
.sc-player ol.sc-trackslist li a.sp_audio_player_song_title:hover,
.sc-player ol.sc-trackslist li.active a,
.widget .tagcloud .btn-default:hover,
.widget .media-body .media-heading a:hover,
.widget .media-body span a:hover,
#home a:hover,
.flex-direction-nav a:hover:before,
#navigation li:hover>a {
	color: #dc3515;
}

/* button hover color */

.btn.btn-primary:hover,
button:hover,
#main-contact-form .btn-primary:hover,
.buy-ticket:hover,
#navigation .navbar-nav li ul.sub-menu li a:hover,
#navigation .navbar-nav li ul.sub-menu li a.active {
  background: #dc3515;
}

.sc-player .sc-controls {
	background: #ec5538;
}

.sc-player ol.sc-trackslist li.active{
  border-color: #dc3515;
}

.overlay,
.album-overlay .album-info,
.tour-content{
  background-color:rgba(236, 85, 56, 0.8);
}

.latest-event ul li {
  border-bottom: 1px solid #D84124;
}

.latest-event ul {
  background-color: #ec5538;
}
.rock {
  background-color: #ec5538!important;
}

.rock:before {
  border-top: 320px solid #ec5538;
}

.rock:after {
  border-top:322px solid #ec5538;
}

.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(odd) {
  background: rgba(236,85,56,0.7);
} 

.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(even) {
  background: rgba(194,49,21,0.7);
}

@media (max-width: 767px) {
  .event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(1),
  .event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(4)
  {
    background: rgba(236,85,56,0.7);
  }

  .event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(2),
  .event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(3)
  {
    background: rgba(194,49,21,0.7);
  }

  #navigation .navbar-nav li ul.sub-menu li a:hover,
  #navigation .navbar-nav li ul.sub-menu li a.active {
    background: transparent;
    color: #dc3515;
  }
}